:root {
  font-size: 16px;
}

html,
body {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #677274;
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

button {
  border: solid 1px #b39ddb;
  border-radius: 1rem;

  color: #311b92;
  background-color: #ede7f6;
  transition: background-color ease 0.3s;

  padding: 0.5rem 1rem;

  cursor: pointer;
}

button:hover {
  background-color: #5e35b1;
  color: #ede7f6;
}

button:active {
  background-color: #9c27b0;
  color: #ede7f6;
}
